---
import Button from "@/ui/components/Button.astro";
import DetailTalkCard from "@/ui/components/cards/DetailTalkCard.astro";

import MainLayout from "@/ui/layout/MainLayout.astro";
import { getTalk } from "@/lib/service/getTalk";
import DetailsHEader from "@/ui/components/DetailsHEader.astro";


const { id } = Astro.params
const talk = await getTalk(id)
const talks = [await getTalk("1"), await getTalk("3"), await getTalk("5")]
---

<MainLayout title="Astro">
    <Fragment slot='header'>
        <DetailsHEader/>
    </Fragment>
    <section class="lg:w-4/5 w-11/12 mx-auto p-8">
        <div>
            <nav class="flex gap-2 text-text-light">
                <a class="hover:text-accent" href="#inicio">Inicio</a>
                <span>></span>
                <a class="hover:text-accent" href="#conferencias"
                    >Conferencias</a
                >
                <span>></span>
                <span class="text-accent">{talk.title}</span>
            </nav>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 mt-8">
            <div class="border-3 border-primary rounded-lg overflow-hidden h-full">
                <figure class="w-full ">
                    <img class="w-full h-full object-cover" src={talk.coverURl} alt={talk.title} />
                </figure>
            </div>
            <div class="flex flex-col gap-4">
                <h2 class="text-3xl text-accent font-bold mb-4">
                    {talk.title}
                </h2>
                <div class="flex flex-wrap gap-4 text-text-light text-xl">
                    <div class="meta-item">
                        <span>📅</span>
                        <span>15 de Agosto, 2025</span>
                    </div>
                    <div class="meta-item">
                        <span>⏰</span>
                        <span>19:00 - 21:00</span>
                    </div>
                    <div class="meta-item">
                        <span>🌍</span>
                        <span>En línea</span>
                    </div>
                    <div class="meta-item">
                        <span>👥</span>
                        <span>200 participantes</span>
                    </div>
                </div>
                <p
                    class="text-lg leading-relaxed opacity-90 mb-8 text-text-light flex-grow"
                >
                    {talk.description}
                </p>
                <div class="flex gap-4">
                    <Button label="Inscribirse" />
                    <Button label="Compartir" />
                </div>
            </div>
        </div>
    </section>
    <section class="w-4/5 mx-auto p-8">
        <nav class="flex gap-4">
            <li
                class="text-accent text-center p-4 border-b-2 font-bold title border-accent list-none"
            >
                Ponente
            </li>

        </nav>
        <div class="py-8 flex flex-col md:flex-row justify-between gap-8 items-center border-y border-slate-400/50">
            <div class="">
                <figure
                    class="w-[300px] h-[300px] overflow-hidden border-3 border-primary rounded-full"
                >
                    <img
                        class="w-full h-full object-cover"
                        src={talk.user.avatar}
                        alt={talk.user.name}
                    />
                </figure>
            </div>
            <div>
                <h2 class="text-3xl text-accent font-bold mb-4">
                    {talk.user.name}
                </h2>

                <p
                    class="text-lg leading-relaxed opacity-90 mb-8 text-text-light flex-grow"
                >
                    {talk.user.bio}
                </p>
            </div>
        </div>
    </section>
    <section class="w-4/5 mx-auto p-8">
        <h2 class="text-3xl text-accent font-bold mb-4">Conferencias relacionadas</h2>
        <div class="py-8 flex flex-col md:flex-row justify-between gap-8 items-center">
            {
                
                talks.map((talk) => (
                    <div class="w-full h-[200px] md:h-[250px] max-w-[350px] mx-auto">
                        <a href={`/talks/${talk.id}`}>
                            <DetailTalkCard title={talk.title} coverURl={talk.coverURl} />
                        </a>
                    </div>
                ))
            }
        </div>
    </section>
</MainLayout>
