---
import type { Section, TalkInfo } from "@/lib/types";
import Badge from "@/ui/components/Badge.astro";
import TalkCard from "@/ui/components/cards/TalkCard.astro";
import Overlay from "@/ui/components/Overlay.astro";

interface Props extends Section {
    talks: TalkInfo[];
}

const { talks, title, subtitle } = Astro.props;
---

<section id="talks" class="w-full xl:h-[700px] py-8 mb-32">
    <h2 class="text-3xl text-text-light font-bold text-center mb-8">{title}</h2>
    <h3 class="text-3xl text-text-light font-bold text-center mb-8">
        {subtitle}
    </h3>
    <div
        class="xl:w-4/5 w-11/12 h-full grid xl:grid-cols-5 gap-4 mx-auto xl:grid-rows-3 grid-rows-2 grid-cols-2"
    >
        <div class="xl:col-span-3 xl:row-span-2 col-span-2 relative">
            <TalkCard {...talks[0]}>
                
                <div slot="tags" class="space-x-2">
                    {talks[0].tags.map((tag) => <Badge label={tag} />)}
                </div>
            </TalkCard>
        </div>
        <div class="xl:col-span-2 xl:row-span-2">
            <TalkCard {...talks[1]}>
                <div slot="tags" class="flex flex-wrap gap-3">
                    {talks[1].tags.map((tag) => <Badge label={tag} />)}
                </div>
                <Fragment slot="title">
                    <h2
                        class="text-xl text-text-light font-bold transition-all duration-300 ease-out group-hover:text-primary"
                    >
                        {talks[1].title}
                    </h2>
                </Fragment>
            </TalkCard>
        </div>
        <div class="xl:col-span-3">
            <TalkCard coverURl={talks[2].coverURl} title={talks[2].title} id={talks[2].id}>
                <div slot="tags" class="flex flex-wrap xl:hidden gap-3">
                    {talks[2].tags.map((tag) => <Badge label={tag} />)}
                </div>
                <Fragment slot="title">
                    <h2
                        class="text-xl  text-text-light font-bold transition-all duration-300 ease-out group-hover:text-primary"
                    >
                        {talks[2].title}
                    </h2>
                </Fragment>
                <Fragment slot="description" class="block xl:hidden">
                    <p
                        class="block xl:hidden text-text-light transition-all duration-300 ease-out group-hover:text-text-light/90"
                    >
                        {talks[2].description}
                    </p>
                </Fragment>
            </TalkCard>
        </div>
        <div>
            <TalkCard coverURl={talks[3].coverURl} title={talks[3].title} id={talks[3].id}>
                <div slot="tags" class="flex flex-wrap gap-3 xl:hidden">
                    {talks[3].tags.map((tag) => <Badge label={tag} />)}
                </div>
                <Fragment slot="title">
                    <h2
                        class="xl:text-base text-xl text-text-light font-bold transition-all duration-300 ease-out group-hover:text-primary"
                    >
                        {talks[3].title}
                    </h2>
                </Fragment>
                <Fragment slot="description" class="block xl:hidden">
                    <p
                        class="block xl:hidden text-text-light transition-all duration-300 ease-out group-hover:text-text-light/90"
                    >
                        {talks[3].description}
                    </p>
                </Fragment>
            </TalkCard>
        </div>
        <div>
            <TalkCard coverURl={talks[4].coverURl} title={talks[4].title} id={talks[4].id}>
                <div slot="tags"class="flex flex-wrap gap-3 xl:hidden">
                    {talks[4].tags.map((tag) => <Badge label={tag} />)}
                </div>
                <Fragment slot="title">
                    <h2
                        class="xl:text-base text-xl text-text-light font-bold transition-all duration-300 ease-out group-hover:text-primary"
                    >
                        {talks[4].title}
                    </h2>
                </Fragment>
                <Fragment slot="description" class="block xl:hidden">
                    <p
                        class="block xl:hidden text-text-light transition-all duration-300 ease-out group-hover:text-text-light/90"
                    >
                        {talks[4].description}
                    </p>
                </Fragment>
            </TalkCard>
        </div>
    </div>
</section>
